<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="customerRepository" name="customerRepository"
		class="com.sherbansoftware.repository.HibernateCustomerRepositoryImpl" />

	<!-- bean with autowire by constructor -->
	<bean id="customerService" name="customerService"
		class="com.sherbansoftware.logic.CustomerServiceImpl"
		autowire="constructor">
		<!-- setter injection <property name="customerRepository" ref="customerRepository" 
			/> -->

		<!-- constructor injection based on index <constructor-arg index="0" ref="customerRepository" 
			value="777"/> -->
	</bean>

</beans>
